
@{
    ViewData["Title"] = "AccessDenied";
}

<h1 class="alert alert-danger" style="justify-content:center;align-content:center">AccessDenied</h1>
<h2 style="justify-content:center;align-content:center">You don't have access to this page'</h2>
<a style="justify-content:center;align-content:center"  asp-action="Login" asp-controller="Account">Login</a>

