
@{
    ViewData["Title"] = "Confirm failed!";
}
<div>
<h1>فعال سازی انجام نشد. لطفا دوباره تلاش کنید!</h1>
</div>
<br />
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">بازگشت به صفحه اصلی</a>

