
@{
    ViewData["Title"] = "Email Sent!";
}

<h1 class="alert alert-success">ثبت نام با موفقیت انجام شد</h1>
<br />
<h2>لطفا برای فعال سازی حساب کاربری خود از طریق لینک ارسال شده به ایمیل @ViewBag.Email اقدام نمایید.</h2>
