@using Identity_Project.Models.DTOs;
@model ForgetPasswordDTO
@{
    ViewData["Title"] = "Change Password";
}
<h4>Please enter you email that you registered with :</h4>
<br />
<div class="row">
    <div class="col-md-4">
        @if (TempData["ResetPasswordEmailSent"] != null)
        {
            <div class="alert alert-success">
                <text>@TempData["ResetPasswordEmailSent"]</text>
            </div>
        }
        <form asp-action="ForgetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Send Email" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

