@model Identity_Project.Models.DTOs.LoginDTO
@{
    ViewData["Title"] = "Login";
}
<h1>Login</h1>
<hr />
@if (TempData["ConfirmEmail"] != null)
{
    <div class="alert alert-success">
        <text>@TempData["ConfirmEmail"]</text>
    </div>
}
@if (TempData["ResetPasswordDone"] != null)
{
    <div class="alert alert-success">
        <text>@TempData["ResetPasswordDone"]</text>
    </div>
}
<div class="row">
    <div class="col-md-4">
        @if (TempData["Errors"] != null)
        {
            <div class="alert alert-danger">
                <text>@TempData["Errors"]</text>
            </div>
        }
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPersistence" class="control-label"></label>
                <input asp-for="IsPersistence"  />
                <span asp-validation-for="IsPersistence" class="text-danger"></span>
            </div>
            <input asp-for="ReturnUrl" hidden />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" /> | <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-controller="Account" asp-action="ForgetPassword" style="color:darkred; text-decoration:none">Forget your password?</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
