@using Identity_Project.Models.DTOs;
@model VerifyPhonenumberDTO
@{
    ViewData["Title"] = "Verify Phonenumber";
}
<h4 class="alert alert-success">لطفا کد پیامک شده را وارد نماید::</h4>
<br />
<div class="row">
    <div class="col-md-4">
        @if (TempData["Error"] != null)
        {
                <div class="alert alert-danger">
                    <text>@TempData["Error"]</text>
                </div>
        }
        <form asp-action="VerifyPhonenumber" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
                <input type="hidden" asp-for="Phonenumber" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Verify" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

