@{
    ViewData["Title"] = "Create Claim";
}
<h1>Add a new Claim</h1>
<br />
<div asp-validation-summary="All" class="text-danger"></div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="claimType" class="control-label">Claim Type</label>
                <input name="claimType" class="form-control" />
            </div>
            <div class="form-group">
                <label for="value" class="control-label">Value</label>
                <input name="value" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" /> | <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
